fastapi
uvicorn
python-dotenv
python-multipart
requests
pydantic

langchain==1.0.3
langchain-community==0.4.1
langchain-chroma==1.1.0
langchain-openai==1.1.10
langchain-text-splitters==1.1.0
langgraph==1.0.8

chromadb
pypdf
docx2txt

langchain-google-genai==4.2.3
langchain-groq==1.1.2

redis
numpy>=2.1.0
